@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: rgb(225, 251, 251);
}
#background_orange {
  background-color: #ff0000;
  color: #fff;
}
/* home section start */
#home {
  background-image: url("./images/wp6412485.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  height: 100vh;
}
#nav-ul {
  margin-left: 52.9%;
  margin-top: 8px;
}
#nav-ul a {
  position: relative;
  font-family: "Poppins", sans-serif;
}
#nav-ul a:before {
  content: "";
  position: absolute;
  left: 10;
  top: 80%;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: all 0.4s linear;
}
#nav-ul a:hover:before {
  width: 70%;
  background-color: #ff0000;
  border-radius: 2px;
}
/* home text */
#home_text {
  position: absolute;
  top: 20%;
}
#home_text span {
  /* color: #f83f1e; */
  color: #ff0000;
}

/* home section end */
/* START ABOUT SECTION */

.about_section {
  background-color: #f9f4f4;
  box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.15);
}
.about_h1 {
  color: #ff0000;
  font-size: 3.5rem;
}
.skills {
  height: 300px;
  position: relative;
}
.skills h1 {
  color: #ff0000;
  font-size: 3.5rem;
}
.skills li {
  list-style-type: none;
}
/* ranges */
.html-range {
  width: 80%;
  height: 10px;
  background-color: #fff;
  position: relative;
  border:.3px solid #000;
  border-radius: 2px;
}
.html-range p {
  position: absolute;
  /* color: #fff; */
  right: 0px;
  top: -40px;
}
.html-inner-range {
  width: 95%;
  height: 100%;
  background-color: #ff0000;
  border-radius: 1px;
}
.css-range {
  width: 80%;
  height: 10px;
  background-color: #fff;
  position: relative;
  border:.3px solid #000;
  border-radius: 2px;
}
.css-range p {
  position: absolute;
  right: 0px;
  top: -40px;
}
.css-inner-range {
  width: 80%;
  height: 100%;
  background-color: #ff0000;
  border-radius: 1px;
}
.js-range {
  width: 80%;
  height: 10px;
  background-color: #fff;
  position: relative;
  border:.3px solid #000;
  border-radius: 2px;
}
.js-range p {
  position: absolute;
  right: 0px;
  top: -40px;
}
.js-inner-range {
  width: 55%;
  height: 100%;
  background-color: #ff0000;
  border-radius: 1px;
}
#about_right_p {
  font-size: 20px;
}

/* ranges */

/* CLOSE ABOUT SECTION */
/* start project SECTION */
#project h1 {
  color: #ff0000;
  font-size: 3.5rem;
}
.project_cards:hover {
  /* width: 19rem; */
  box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.15);
}
/* CLOSE project SECTION */